@import "tailwindcss";

@theme {
  --color-brand: #ffcc05;
  --color-brand-foreground: #ffffff;

  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --font-sans: "Noto Sans", sans-serif;
}

button {
  background: var(--color-brand);
  padding: 10px;
  transition: all ease-in-out 0.1s;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-wrap: nowrap;
}

button:hover {
  filter: brightness(95%);
  cursor: pointer;
}